<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KYSYCloud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1717C72D1C62E56C00118A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1717C7461C62E56D00118A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1717C7511C62E56D00118A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
