<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LF微博.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>科远签到.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB4ABAF91CCDBA6D00FA7A78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4ABB151CCDBA6E00FA7A78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4ABB201CCDBA6E00FA7A78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
